<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 2.0//EN">
<html>
<head>
    <title>@ViewData["Title"] - net_news_html</title>
</head>
<body>
    <a href="~/">Home</a> | <a href="~/saved">Saved News</a>
    <div class="container">
        @RenderBody()
    </div>
    <hr/>
    <div class="container" style="text-align: center">
        &copy; 2024 - DotNet HTML News - Using AngleSharp and .NET 8.0 LTS
    </div>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
