@{
    ViewData["Title"] = "Indonesian HTML News with Dotnet";
}
@model List<NewsHeader>

<center>
    <h1 style="margin-bottom: 0px;">Berita Indonesia</h1>
    <h5 style="margin-top: 0px;">dalam HTML</h5>
</center>
<hr/>

<div class="text-center">
    @foreach (var d in Model)
    {
        <h1>@d.Title</h1>
        <ol>
        @foreach (var n in d.News)
        {
            <li><a href="@n.ProxyUrl">@n.Title</a></li>    
        }
        </ol>
    }
</div>
