@{
    ViewData["Title"] = $"{Model.data.Title} | Indonesian Dotnet News";
}

<div class="text-center">
    <a href="@Url.Action("SaveNews", "Home", new { url = Model.data.Url, title = Model.data.Title })">(+) Save News</a>
    <p>@Html.Raw(Model.body)</p>
</div>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}